<%- contentFor('extra_css') %>
    <script>
        function requireAuth(req, res, next) {
            if (!req.session || !req.session.user) {
                return res.redirect('/admin/login');
            }
            next();
        }
    </script>

    <link rel="stylesheet" href="/libs/jsvectormap/jsvectormap.min.css">

    <%- contentFor('content') %>

        <div class="container-xxl">

            <!--end row-->
        </div><!-- container -->

        <%- contentFor('extra_javascript') %>

            <script src="/libs/apexcharts/apexcharts.min.js"></script>
            <script src="/data/stock-prices.js"></script>
            <script src="/libs/jsvectormap/jsvectormap.min.js"></script>
            <script src="/libs/jsvectormap/maps/world.js"></script>
            <script src="/js/pages/index.init.js"></script>