<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Consultax – Financial & Consulting HTML5 Template</title>
    
	<link rel="stylesheet" id="bootstrap-css" href="/fonts/css/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" id="awesome-font-css" href="/fonts/css/font-awesome.css" type="text/css" media="all">
	<link rel="stylesheet" id="ionicon-font-css" href="/fonts/css/ionicon.css" type="text/css" media="all">
    <link rel="stylesheet" id="royal-preload-css" href="/fonts/css/royal-preload.css" type="text/css" media="all">
	<link rel="stylesheet" id="slick-slider-css" href="/fonts/css/slick.css" type="text/css" media="all">
	<link rel="stylesheet" id="slick-theme-css" href="/fonts/css/slick-theme.css" type="text/css" media="all">
	<link rel="stylesheet" id="consultax-style-css" href="/fonts/style.css" type="text/css" media="all">

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/fonts/revolution/css/settings.css">

    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="/fonts/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/fonts/revolution/css/navigation.css">

    <link rel="shortcut icon" href="/fonts/favicon.png">
</head>